{{!-- admin page header --}}
<header style="position: fixed; top: 0;left: 0;width: 100%; z-index:99;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand" href="/admin/"><strong>SHOPIFY</strong><br>Admin </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-products">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/all-orders">All Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/all-users">All Users</a>
                    </li>
                    </ul>
<ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <img style="width: 25px;" src="/icons/boss.png" alt=""><br>
                    {{#if admin}}
                    {{admin.Username}}
                    {{else}}
                    Account
                    {{/if}}
                            
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/logout">Logout</a>
                            
                        </div>
                    </li>
                   </ul>
                
            </div>
        </nav>
    </header>