{{!-- //user page header --}}
<header style="position: fixed; top: 0;left: 0;width: 100%; z-index:99;">
    <nav style="" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand scale" href="/"><strong>SHOPIFY</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link scale" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle scale" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a onclick="onClick('Smartphones')" class="dropdown-item dd-i" href="#">Smartphones</a>
                        <a onclick="onClick('Laptops')" class="dropdown-item dd-i" href="#">Laptops</a>
                        <a onclick="onClick('Smartphone Accessories')" class="dropdown-item dd-i" href="#">Smartphone
                            Accessories</a>
                        <a onclick="onClick('Laptop Accessories')" class="dropdown-item dd-i" href="#">Laptop Accessories</a>
                        <a onclick="onClick('Home Appliances')" class="dropdown-item dd-i" href="#">Home Appliances</a>
                        <a onclick="onClick('Smart TVs')" class="dropdown-item dd-i" href="#">Smart TVs</a>
                        <a onclick="onClick('Smart Gadgets')" class="dropdown-item dd-i" href="#">Smart Gadgets</a>
                        <a onclick="onClick('Cameras')" class="dropdown-item dd-i" href="#">Cameras</a>
                        <a onclick="onClick('Books')" class="dropdown-item dd-i" href="#">Books</a>

                    </div>


                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link scale" href="/orders">Orders</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link scale" href="/cart">Cart<span id="cart-count"
                            class="badge badge-success">{{cartCount}}</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link scale" href="/#about">About <span class="sr-only"></span></a>
                </li>

            </ul>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ">
                <a style="border-radius: 35%;" class=" bg-light" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{!-- Displays user name if user logged in. --}}
                    <img style="width: 25px; border-radius: 25px;" src="/icons/boss.png" alt=""><br>
                    {{#if user}}
                    {{user.Name}}
                    {{else}}
                    Account
                    {{/if}}

                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    {{!-- Displays logout option if user logged in. --}}
                    {{#if user}}
                    <a class=" dropdown-item" href="/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item " href="/login">Login</a>
                    {{/if}}
                </div>
                </li>
            </ul>

        </div>
    </nav>



</header>

<style>
   
@media screen (min-width:992px) {
    
    .scale:hover {
        transform: scale(1.1);
    }
    .dd-i:hover{
        transform: scale(1.01);
        
    }
}
</style>