<section style="height: 39rem;" class="vh-100 bg bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 text-center">
       
        
      <div class="col">
         <div class="mb-4">
            <h4 class="text text-dark col" style="text-align: center;">Cart is empty!!</h4>
        </div>
       
        <a href="/" type="button" class="btn btn-success btn-lg">
          <i class="fas fa-info me-2"></i> Add to cart
        </a>

        

      </div>
    </div>
  </div>
</section>