<section style="height: 35rem;" class="vh-100 bg bg-success">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 text-center">
       
        
      <div class="col">
         <div class="mb-4">
            <h4 class="text text-light col" style="text-align: center;">Order placed successfully!!</h4>
        </div>
       
        <a href="/orders" type="button" class="btn btn-light btn-lg">
          <i class="fas fa-info me-2"></i> view details
        </a>

        

      </div>
    </div>
  </div>
</section>